:root {
    --purple-color: #8758FF;
    --blue-color: #5CB8E4;
    --gray-color: #181818;
    --white-color: #F2F2F2;
}

  /* Estilos CSS para las secciones */
.section {
    height: 835px;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    position: relative;
}

.section1 {
    background-color: var(--blue-color);
    font-family: 'Ubuntu', sans-serif;
}

.section2 {
background-color: var(--gray-color);
font-family: 'Ubuntu', sans-serif;
}
.section2 .h2 {
    margin-top: 60px;
}

.section3 {
background-color: var(--blue-color);
font-family: 'Ubuntu', sans-serif;
}

.section4 {
background-color: var(--white-color);
font-family: 'Ubuntu', sans-serif;
}
