:root {
    --purple-color: #8758FF;
    --blue-color: #5CB8E4;
    --gray-color: #181818;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 400vh;
    background: var(--blue-color);
    color: var(--gray-color);
/*     text-transform: uppercase;*/
    font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray-color);
    gap: 0 200px;
    width:100%;
    height: 15vh;
}

h1 {
    padding-top: 50px;
    margin-bottom: 20px;
    margin-left: 550px;
    font-size: 35px;
}

button:hover {
    background: #181818;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 2px;
    list-style: none;
}

li a {
    color: white;
    text-decoration: none;
    font-weight: 800;
    padding: 10px 50px;
    font-size: 20px;
}

li a:hover {
background: var(--purple-color);
color: white;
border-radius: 10px;
border: none;
transition: 0.2s;
}



/* buttons */
.button-container {
    display: flex;
    gap: 10px;
}


/*   .button_code {
    display: flex;
    align-items: center;
  }
  
  .button_code svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .button_code .text {
    margin: 0;
  }
   */