.button_code {
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    position: relative;
    left: 14%;
    top: 250%;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button_code .text {
    color: white;
    font-weight: 700;
    font-size: 17px;
    transition: 400ms;
    text-align: center;

}

.button_code svg path {
    transition: 400ms;
}

.button_code:hover {
    background-color: transparent;
}

.button_code:hover .text {
    color: #181717;
}

.button_code:hover svg path {
    fill: #181717;
}