.section1 .card_cli {
    width: 600px;
    height: auto;
    margin-left: 80px;
    margin-bottom: 20px;
    background-color: #011522;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 20%;
    transform: translateY(-50%);
}

.section1 .card_content {
    color: white;
}

.section1 h2 {
    color: white;
    margin-top: 10px;
    margin-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Inconsolata', monospace;
}

.section1 h2:nth-child(1) {
    animation: typingAnimation 4s steps(40) forwards;
}

.section1 h2:nth-child(2) {
    opacity: 0;
    animation: typingAnimation 4s steps(40) forwards, fadeInAnimation 0.3s ease-in forwards;
    animation-delay: 4s;

}

.section1 h2:nth-child(3) {
    opacity: 0;
    animation: typingAnimation 4s steps(40) forwards, fadeInAnimation 0.3s ease-in forwards;
    animation-delay: 8s;

}

.section1 h2:nth-child(4) {
    opacity: 0;
    animation: typingAnimation 4s steps(40) forwards, fadeInAnimation 0.3s ease-in forwards;
    animation-delay: 12s;

}

@keyframes typingAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
















.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
    animation: pulse-red 3s ease-in-out infinite;
}

.yellow {
    background-color: #ffbd44;
    animation: pulse-yellow 3s ease-in-out infinite;
    animation-delay: 1s;
}

.green {
    background-color: #00ca4e;
    animation: pulse-green 3s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes pulse-red {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 96, 92, 0.8);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 96, 92, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 96, 92, 0);
    }
}

@keyframes pulse-yellow {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 189, 68, 0.8);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 189, 68, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 189, 68, 0);
    }
}

@keyframes pulse-green {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 202, 78, 0.8);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(0, 202, 78, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 202, 78, 0);
    }
}
